.icon-shopping{
position:fixed;
bottom: 30px;
right: 30px;
width: 100px;
height: 100px;
background-color: #1db6ef;
border-radius: 50% ;
display: flex;
justify-content: center;
align-items: center;
}
.icon-shopping ion-icon{
    font-size: 70px;
    color: white;
}