.productos{
    display: flex;
    flex-wrap: wrap;
    
    margin-left: 45px;
   
}
 ion-card{
    width: 17%;
    height: 300px;
    margin: 16px;
    
}
ion-item{
    display: flex;
    flex-direction: column;
}
ion-img{
    width: 70px;
    height: auto;
}
p{
    max-height: 2.3em; /* Aproximadamente 2 líneas */
  overflow: hidden;
  line-height: 1em; /* Ajustar según el tamaño de fuente */
  line-height: 15pt;
    
}
ion-card-header{
    justify-content: center;
    align-items: center;
}
ion-content{
    --background: linear-gradient(
          130deg,#000000,#1db6ef
      )
}
ion-list{
    --background: linear-gradient(
        130deg,#000000,#1db6ef
    )
}
.imagen-info{
    width: 100%;
    height: 100%;
}
.imagen-form{
    position: relative;
    
    width: 100%;
    height: 40%;
    background-color: white;
}
.cantidad-productos{
    display: flex;
    text-align: center;
    
    align-items: center;
    border-color: aqua;
}
.cantidad-productos ion-select{
    padding-left: 20px;
}
.fond-color{
    --background: white;
    width: 100%;
    height: 45%;
}
.negrilla{
    font-family:arial black;
}
.contenido-full{
   /* --background: white;*/
   
  font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 10px 30px 10px 30px;
    font-size: 19PX;
    line-height: 15pt;
    letter-spacing: 1pt;
}
#title{
    text-align: center;
}
h2{
    margin-left: 10px;
}


#botones-compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.no-encuentra{
    display: flex;
    justify-content: center;
   
   
}
.no-encuentra h1{
    margin-top: 30%;
    font-size:35pt;
}
.boton-product{
    width: 100%;
}
.ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
    overflow: hidden;
  
    border: 1px solid #ddd;
  
    user-select: none;
  }
  
  .rounded-rectangle {
    width: 250px;
    height: 75px;
    border-radius: 8px;
  }
  .contenedor-selector{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }